body,dd,dl,form,h1,h2,h3,h4,h5,h6,ol,p,ul{
  margin: 0
}
body,button,input,select,textarea{
  font: 14px/1.4 Roboto, PingFang SC, Microsoft YaHei, sans-serif, Helvetica Neue, Helvetica, Hiragino Sans GB, Arial;
}
h1,h2,h3,h4,h5,h6{
  font-size:100%
}
b,em{
  font-style:normal
}
a{
  text-decoration:none;
  outline:0
}
a:hover{
  text-decoration:none
}
a:visited{
  outline:0
}
img{
  border:0
}
button,input,select,textarea{
  font-size:100%;
  outline:0
}
table{
  border-collapse:collapse;
  border-spacing:0
}
ol,td,th,ul{
  padding:0
}
dl,ol,ul{
  list-style:none
}
area{
  outline:0
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
